@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
html {
    overflow-x: hidden;
    overflow-y: hidden;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('images/background.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
    font-family: "Trade Winds", system-ui;
    overflow-x: hidden;
    overflow-y: hidden;
}

svg {
    width: 8em;
    height: 8em;
}

a {
    color: #00FFEE;
    text-decoration: none;
    font-weight: bold;
}

header {
    border-bottom: solid #ffffff 0.15em;
    padding: 1em;
}

header, header div, header ul {
    display: flex;
    justify-content: space-between;
}

header svg {
    width: 3em;
    height: 3em;
}

header ul {
    width: 20%;
    list-style-type: none;
    margin: auto 0;
    padding: 0;
}

main {
    padding: 1em;
}

.index-hero {
    display: flex;
    justify-content: space-around;
}

#model {
    width: 20em;
    height: 30em;
}

.paragraph-box {
    max-width: 40em;
    margin: auto;
}

.cta-button {
    background-color: blue;
    border: solid white 0.15em;
    border-radius: 1em;
    padding: 0.25em;
}

footer {
    border-top: solid white 0.15em;
    display: flex;
    flex-direction: column;
}

footer p {
    margin: 1em auto;
}

.card {
    top: 50%;
    left: 50%;
    background-image: url('images/background.jpg');
    background-size: 100% 100%;
    border: solid white 0.1em;
    border-radius: 1em;
    padding: 3em;

    transform-origin: center center;
    transform: translate(-50%, -50%) rotate(var(--angle)) translateY(calc(var(--orbit-radius) * -1));
}

.card:focus {
    outline: 0.15em solid #00FFEE;
    outline-offset: 0.2em;
}

.skills-wheel > .card:nth-of-type(1) { --angle: 0deg; }
.skills-wheel > .card:nth-of-type(2) { --angle: 40deg; }
.skills-wheel > .card:nth-of-type(3) { --angle: 80deg; }
.skills-wheel > .card:nth-of-type(4) { --angle: 120deg; }
.skills-wheel > .card:nth-of-type(5) { --angle: 160deg; }
.skills-wheel > .card:nth-of-type(6) { --angle: 200deg; }
.skills-wheel > .card:nth-of-type(7) { --angle: 240deg; }
.skills-wheel > .card:nth-of-type(8) { --angle: 280deg; }
.skills-wheel > .card:nth-of-type(9) { --angle: 320deg; }

.card svg,
.card svg * {
    fill: #ffffff;
    margin: auto;
}
